<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style>
        /* reset */
        *{-webkit-text-size-adjust:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
        html{margin:0;width:100%;height:100%}
        body{/*height:100%;*/background:$col-white;font-family:'Hyundai Sans Head Office', Arial,'TextRegular', Helvetica,"Apple SD Gothic Neo",sans-serif;font-size:15px;font-weight:400;line-height:1.5;color:$col-black;word-wrap:break-word;word-break:keep-all}
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,button, figure{margin:0;padding:0}
        section,nav,article,aside,hgroup,header,footer,iframe{display:block}
        form,fieldset,img,input,button{border:0 none;background:none}
        img{margin:0;padding:0;line-height:0;vertical-align:top}
        em{font-style:normal}
        strong{font-weight:600}
        ul,ol,li{list-style:none outside}
        ul:after,ol:after{content:'';display:block;clear:both}
        a:focus,button:focus{outline:1px solid #3a67ff}
        a{text-decoration:none}
        legend{display:block;width:0;height:0;text-indent:-9000px;overflow:hidden}
        caption{overflow:hidden;margin-left:-9999px;width:1px;height:1px;font-size:1px;line-height:0}

        /* common */
        .blind{position:absolute;top:-9999em;font-size:0;height:0}
        .esse{display:inline-block;color:$col-point;font-size:0;position:relative;}
        .esse:before{content:"*";display:inline-block;font-size:16px;margin-left:3px}
        
        .wrap.newsletter {min-width: 700px;max-width: 700px;margin: 0 auto;border: 1px solid #e5e5e5;}
        .wrap.newsletter header {padding: 20px 20px 20px 30px;height: 90px;background: #1a252d;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter header .flex-row {display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: row!important;}
        .wrap.newsletter header .logo {display: inline-block;width: 83px;height: 36px;background: url("../assets/images/logo.png") no-repeat 0 0/100% auto;vertical-align: top;}
        .wrap.newsletter header .logo .logo-link {display: block;width: 100%;height: 100%;}
        .wrap.newsletter header .left {margin-right: auto;}
        .wrap.newsletter header .left p {margin-top: 6px;color: #fff;font-size: 12px;line-height: 14px;font-weight: normal;opacity: .5;}
        .wrap.newsletter header .right {text-align: right;}
        .wrap.newsletter header .right p {color: #fff;}
        .wrap.newsletter header .right p:last-child {color: #448cc2;font-size: 12px;line-height: 14px;font-weight: normal;}
        .wrap.newsletter header .right .monthly {color: #fff;font-size: 12px;line-height: 14px;font-weight: normal;}
        .wrap.newsletter header .right .tit {font-size: 18px;line-height: 21px;}
        .wrap.newsletter .container {display: block;padding: 0;}
        .wrap.newsletter .container .top-area {display: -webkit-box;display: -ms-flexbox;display: flex;padding: 20px 30px;color: #fff;background-color: #2d6894;}
        .wrap.newsletter .container .top-area .userInfo {-webkit-box-flex: 0;    -ms-flex: 0 0 205px;        flex: 0 0 205px;position: relative;}
        .wrap.newsletter .container .top-area .userInfo dl {padding-top: 10px;}
        .wrap.newsletter .container .top-area .userInfo dl dt {height: 16px;font-size: 14px;line-height: 16px;font-weight: normal;margin-bottom: 4px;}
        .wrap.newsletter .container .top-area .userInfo dl dd {height: 18px;font-size: 16px;line-height: 18px;font-weight: bold;}
        .wrap.newsletter .container .top-area .userInfo:after {content: '';position: absolute;top: 50%;right: 0;display: inline-block;width: 1px;height: 80px;background-color: rgba(255, 255, 255, 0.2);-webkit-transform: translateY(-50%);        transform: translateY(-50%);}
        .wrap.newsletter .container .top-area .vehicleInfo {-webkit-box-flex: 1;    -ms-flex: 1;        flex: 1;padding-left: 30px;}
        .wrap.newsletter .container .top-area .vehicleInfo .list li {display: -webkit-box;display: -ms-flexbox;display: flex;height: 16px;margin-top: 10px;font-size: 14px;line-height: 16px;}
        .wrap.newsletter .container .top-area .vehicleInfo .list li:first-child {margin-top: 0;}
        .wrap.newsletter .container .top-area .vehicleInfo .list li span {-webkit-box-flex: 1;    -ms-flex: 1;        flex: 1;color: rgba(255, 255, 255, 0.5);}
        .wrap.newsletter .container .top-area .vehicleInfo .list li p {-webkit-box-flex: 1;    -ms-flex: 1;        flex: 1;}
        .wrap.newsletter .container .content {padding: 24px 30px 30px;}
        .wrap.newsletter .container .content > div {margin-bottom: 30px;}
        .wrap.newsletter .container .content > div:last-child {margin-bottom: 0;}
        .wrap.newsletter .container .content .head-area {margin-bottom: 13px;display: -webkit-box;display: -ms-flexbox;display: flex;}
        .wrap.newsletter .container .content .head-area.noflex {display: block;}
        .wrap.newsletter .container .content .head-area h2 {font-size: 16px;line-height: 20px;color: #000;margin-right: auto;}
        .wrap.newsletter .container .content .head-area p {font-size: 12px;line-height: 20px;color: #999;}
        .wrap.newsletter .container .content .flex {display: -webkit-box;display: -ms-flexbox;display: flex;gap: 10px;}
        .wrap.newsletter .container .content .flex-item {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;padding: 12px 7px;border: 1px solid #e5e5e5;text-align: center;height: 113px;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .content .flex-item strong {font-size: 13px;color: #080707;line-height: 14px;text-align: center;vertical-align: middle;}
        .wrap.newsletter .container .content .flex-item div {margin-top: auto;}
        .wrap.newsletter .container .content .flex-item span {font-size: 11px;color: #080707;}
        .wrap.newsletter .container .content .flex-item .ico-status {position: relative;display: block;padding-top: 41px;height: 52px;font-size: 11px;color: #080707 !important;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .content .flex-item .ico-status:after {content: "";width: 36px;height: 36px;border-radius: 50%;position: absolute;top: 0;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
        .wrap.newsletter .container .content .flex-item .ico-status.status-good {color: #00a651;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-good:after {background: url("../assets/images/ico-good.svg") no-repeat 50% 50%/100% auto;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-caution {color: #fad648;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-caution:after {background: url("../assets/images/ico-caution.png") no-repeat 50% 50%/100% auto;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-alert {color: #2d6894;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-alert:after {background: url("../assets/images/ico-alert.png") no-repeat 50% 50%/100% auto;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-danger {color: #e89261;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-danger:after {background: url("../assets/images/ico-danger02.svg") no-repeat 50% 50%/100% auto;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-unknown {color: #76808c;}
        .wrap.newsletter .container .content .flex-item .ico-status.status-unknown:after {background: url("../assets/images/ico-unknown.png") no-repeat 50% 50%/100% auto;}
        .wrap.newsletter .container .content .text-area {margin: 20px 0 10px;font-size: 12px;line-height: 20px;color: #999;}
        .wrap.newsletter .container .content table {border-top: 2px solid #e5e5e5;text-align: center;color: #333;vertical-align: middle;}
        .wrap.newsletter .container .content th {padding: 12px;border-bottom: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5;font-size: 13px;line-height: 20px;background-color: #fafaf9;vertical-align: middle;}
        .wrap.newsletter .container .content td {padding: 12px 0;line-height: 20px;border-left: 1px solid #e5e5e5;font-size: 13px;vertical-align: middle;}
        .wrap.newsletter .container .content td.none {color: #e89261;}
        .wrap.newsletter .container .content thead th {text-align: center;}
        .wrap.newsletter .container .content thead th:first-child {border-left: 0;}
        .wrap.newsletter .container .content thead th.leftline {border-left: 1px solid #e5e5e5;}
        .wrap.newsletter .container .content tbody th {padding: 12px 0 0 12px;text-align: left;font-weight: normal;border-left: 0;}
        .wrap.newsletter .container .slide {position: relative;width: 100%;padding: 0;background: #fff;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .check-list-bottom {width: 100%;overflow: hidden;}
        .wrap.newsletter .container .swiper {margin: 0 0px;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .swiper .swiper-pagination {bottom: 0;}
        .wrap.newsletter .container .swiper .swiper-pagination .swiper-pagination-bullet {width: 10px;height: 10px;border-radius: 5px;background: #adb5bd;margin: 0 5px;}
        .wrap.newsletter .container .swiper .swiper-pagination .swiper-pagination-bullet-active {width: 30px;height: 10px;border-radius: 5px;background: #00a651;}
        .wrap.newsletter .container .swiper {position: relative;margin: 0 0px;}
        .wrap.newsletter .container .swiper .swiper-wrapper {height: 170px;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .swiper .swiper-wrapper.nodata {width: 100%;}
        .wrap.newsletter .container .swiper .swiper-wrapper.nodata .swiper-slide {-webkit-box-flex: 1;    -ms-flex: 1;        flex: 1;width: 100% !important;margin: 0 !important;}
        .wrap.newsletter .container .swiper .swiper-wrapper.col2 .swiper-slide:last-child {width: calc(66.666666% - 20px) !important;}
        .wrap.newsletter .container .swiper .swiper-wrapper.col3 .swiper-slide {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-ms-flex-pack: distribute;justify-content: space-around;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: calc(33.33333% - 20px) !important;margin: 0 10px;background-color: #fff;border: 1px solid #e5e5e5;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item {padding: 0px;display: block;width: 100%;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;text-align: center;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item i {position: relative;display: block;padding-top: 72px;height: 89px;font-size: 15px;font-style: normal;font-weight: bold;color: #080707 !important;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item i:after {content: "";width: 50px;height: 50px;position: absolute;top: 12px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);background-color: #fff;}
        /* i */
        .ico-steering:after {background:url(../assets/images/icon_Steering.png) no-repeat 50% 50% /51px 50px;}
        .ico-Brake:after {background:url(../assets/images/ico-Brake.png) no-repeat 50% 50% /51px 50px;}
        .ico-Driving:after {background:url(../assets/images/ico-Driving.png) no-repeat 50% 50% /51px 50px;}
        .ico-Suspension:after {background:url(../assets/images/ico-Suspension.png) no-repeat 50% 50% /51px 50px;}
        .ico-Powertrain:after {background:url(../assets/images/ico-Powertrain.png) no-repeat 50% 50% /51px 50px;}
        .ico-Electric:after {background:url(../assets/images/ico-Electric.png) no-repeat 50% 50% /51px 50px;}
        .ico-Stack:after {background:url(../assets/images/ico-Stack.png) no-repeat 50% 50% /51px 50px;}

        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item .ico-carGood {display: inline-block;margin: 0 auto;padding-top: 5px;text-align: center;width: 36px;height: 36px;background: url("../assets/images/ico-carGood.svg") no-repeat;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item p {margin-top: 10px;font-family: HyundaiSansTextOffice;font-size: 15px;font-weight: 500;color: #333;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item .tit {font-family: HyundaiSansTextOffice;font-size: 15px;font-weight: 500;text-align: center;color: #999;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item ul {height: 69px;margin-top: 10px;padding: 8px 0 8px 10px;background-color: #fafaf9;-webkit-box-sizing: border-box;box-sizing: border-box;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item ul li {display: block;text-align: left;padding: 0;font-size: 12px;line-height: 18px;color: #080707;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item ul li:nth-child(1) {color: #080707;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item ul li:nth-child(2) {color: #080707;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item ul li:nth-child(3) {color: #080707;}
        .wrap.newsletter .container .swiper .swiper-wrapper .swiper-item ul li::before {content: '·';display: inline-block;padding-right: 4px;font-size: 18px;line-height: 20px;color: #080707;}
        .wrap.newsletter .container .swiper-btn-group {display: block;gap: 0px;position: absolute;top: 50%;right: 0px;width: 100%;height: 30px;-webkit-transform: translateY(-50%);transform: translateY(-50%);z-index: 100;}
        .wrap.newsletter .container .swiper-button-prev, .wrap.newsletter .container .swiper-rtl .swiper-button-prev {position: absolute;top: 0;left: -30px;}
        .wrap.newsletter .container .swiper-button-next, .wrap.newsletter .container .swiper-rtl .swiper-button-next {position: absolute;top: 0;left: 99%;}
        .wrap.newsletter .container .swiper-button-next, .wrap.newsletter .container .swiper-button-prev {display: -webkit-box;display: -ms-flexbox;display: flex;width: 36px;height: 30px;margin-top: 0;color: #080707;border: 1px solid #fff;z-index: 1000;}
        .wrap.newsletter .container .swiper-button-next:after, .wrap.newsletter .container .swiper-button-prev:after {font-size: 18px;}
        .graph-draw {background: #ddd;}
        footer {display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;height: 84px;margin: 0px 0px 0;padding: 20px 40px;border-top: 1px solid #e5e5e5;background-color: #000;}
        footer .logo {display: inline-block;-webkit-box-flex: 0;-ms-flex: 0 0 69px;flex: 0 0 69px;width: 69px;height: 37px;margin-top: 0px;background: url("../assets/images/logo-footer.png") no-repeat 0 0/69px auto;vertical-align: top;}
        footer .logo .logo-link {display: block;width: 100%;height: 100%;}
        footer > div {-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;padding-left: 40px;}
        footer > div ul {display: -webkit-box;display: -ms-flexbox;display: flex;width: 595px;gap: 40px;width: 610px;font-size: 14px;font-weight: bold;}
        footer > div ul li {position: relative;}
        footer > div ul li a {color: #f2f0ee;}
        footer > div ul li:after {content: '';position: absolute;top: 7px;right: -20px;display: inline-block;width: 4px;height: 4px;background-color: #f2f0ee;}
        footer > div ul li:last-child:after {display: none;}
        footer > div .copyright {color: #999;font-size: 12px;margin-top: 10px;}
    </style>
    <script>
        function col3Swiper(){
            var swiper = new Swiper(".col3-swiper", {
                slidesPerView: 3,
                spaceBetween: 0,
                slidesPerGroup: 3,
                loop: false,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: false,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        }
        if ($('.col3-swiper').length > 0) {col3Swiper();}
    </script>
</head>
<body>
	<div class="wrap newsletter">
		<header>
			<div class="section flex-row">
                <div class="left">
                    <h1 class="logo">
                        <button class="logo-link">
                            <span class="blind">bluelink Fleet</span>
                        </button>
                    </h1>
                    <p class="date">Oct 31, 2022</p>
                </div>
                <div class="right">
                    <p class="monthly">October, 2022</p>
                    <p class="tit">Monthly Vehicle Driving & Health Report</p>
                    <p class="">Power by Bluelink Fleet</p>
                </div>
			</div>
		</header>
        <div class="container">
            <div class="top-area">
                <div class="userInfo">
                    <dl>
                        <dt>Owner</dt>
                        <dd class="name">Vehicle Owner Name</dd>
                    </dl>
                </div>
                <div class="vehicleInfo">
                    <ul class="list">
                        <li>
                            <span>Model</span>
                            <p>Xcient Fuel Cell</p>
                        </li>
                        <li>
                            <span>VIN</span>
                            <p>KMFXXXXXXXX123456</p>
                        </li>
                        <li>
                            <span>Vehicle No.</span>
                            <p>XXXXXXX</p>
                        </li>
                        <li>
                            <span>Bluelink Fleet Subscription</span>
                            <p>Since DD/MM/YYY</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div>
                    <div class="head-area">
                        <h2>Driving Statistics of October, 2022</h2>
                        <p>※ The data is subject to your actual driving period</p>
                    </div>

                    <table class="table table-col datatable dataTable no-footer">
                        <colgroup>
                            <col style="width:25%" span="4">
                        </colgroup>
                        <thead>
                            <tr>
                                <th tabindex="0"></th>
                                <th tabindex="0">Trip Odometer</th>
                                <th tabindex="0">Statistics for 2022</th>
                                <th tabindex="0">Statistics for Oct 2022</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Driving Distance</th>
                                <td>1,000 km</td>
                                <td>1,000 km</td>
                                <td>1,000 km</td>
                            </tr>
                            <tr>
                                <th>Hydrogen Consumption</th>
                                <td class="none">N/A</td>
                                <td>30 kg</td>
                                <td>5 kg</td>
                            </tr>
                            <tr>
                                <th>co2 emissions</th>
                                <td class="none">N/A</td>
                                <td>100</td>
                                <td>15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <div class="head-area">
                        <h2>Driving Data of October</h2>
                    </div>

                    <table class="table table-col datatable dataTable no-footer">
                        <colgroup>
                            <col style="width:14.285%" span="7">
                        </colgroup>
                        <thead>
                            <tr>
                                <th tabindex="0" rowspan="2"></th>
                                <th tabindex="0" rowspan="2">Driving days</th>
                                <th tabindex="0" colspan="2">Driving dist.</th>
                                <th tabindex="0" colspan="2">Driving hr.</th>
                                <th tabindex="0" rowspan="2"></th>
                            </tr>
                            <tr>
                                <th class="leftline" tabindex="0">Driving dist./month</th>
                                <th tabindex="0">Average Driving dist./day</th>
                                <th tabindex="0">Driving hr./month</th>
                                <th tabindex="0">Average Driving hr./day</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>This month</th>
                                <td>26 days</td>
                                <td>1,000 km</td>
                                <td>1,000 km</td>
                                <td>5h 52m</td>
                                <td>5h 52m</td>
                                <td>95 km/h</td>
                            </tr>
                            <tr>
                                <th>Last month</th>
                                <td>21 days</td>
                                <td>1,000 km</td>
                                <td>1,000 km</td>
                                <td>5h 52m</td>
                                <td>5h 52m</td>
                                <td>95 km/h</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <div class="head-area">
                        <h2>Key System Diagnosis</h2>
                    </div>

                    <div class="flex">
                        <div class="flex-item">
                            <strong>Airbag Control</strong>
                            <div>
                                <i class="ico-status status-good">OK</i>
                            </div>
                        </div>
                        <div class="flex-item">
                            <strong>TPMS</strong>
                            <div>
                                <i class="ico-status status-unknown">unknown</i>
                            </div>
                        </div>
                        <div class="flex-item">
                            <strong>Driving Assistance</strong>
                            <div>
                                <i class="ico-status status-caution">caution</i>
                            </div>
                        </div>
                        <div class="flex-item">
                            <strong>Motor Control</strong>
                            <div>
                                <i class="ico-status status-alert">Inspection Required</i>
                            </div>
                        </div>
                        <div class="flex-item">
                            <strong>ESC</strong>
                            <div>
                                <i class="ico-status status-danger">Inspection Required</i>
                            </div>
                        </div> 
                    </div>
                </div>

                <div>
                    <div class="head-area noflex">
                        <h2>Message to Valued Customer</h2>
                        <p>You have almost reached the mileage of the regular inspection (ODO km : 7,800 km)</p>
                    </div>

                    <div class="slide">
                        <div class="check-list-bottom">
                            <div class="swiper col3-swiper">
                                <div class="swiper-wrapper col3">
                                    <div class="swiper-slide">
                                        <div class="swiper-item">
                                            <div>
                                                <i class="ico-message ico-steering">Steering</i>
                                            </div>
                                            <ul>
                                                <li>Connection Part Play</li>
                                                <li>Oil Leakage</li>
                                                <li>Oil Level</li>
                                            </ul>
                                        </div> 
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-item">
                                            <div>
                                                <i class="ico-message ico-Brake">Brake</i>
                                            </div>
                                            <ul>
                                                <li>Hose And Pipe Condition</li>
                                                <li>APU Cartridge</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-item">
                                            <div>
                                                <i class="ico-message ico-Driving">Driving</i>
                                            </div>
                                            <ul>
                                                <li>Ion filter</li>
                                                <li>Stack Coolant Check</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-item">
                                            <div>
                                                <i class="ico-message ico-Suspension">Suspension</i>
                                            </div>
                                            <ul>
                                                <li>Connection Part Play</li>
                                                <li>Oil Leakage</li>
                                                <li>Oil Level</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="swiper-slide">
                                        <div class="swiper-item">
                                            <div>
                                                <i class="ico-status ico-Powertrain">Powertrain</i>
                                            </div>
                                            <ul>
                                                <li>Hose And Pipe Condition</li>
                                                <li>APU Cartridge</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-item">
                                            <div>
                                                <i class="ico-status ico-Electric">Electric</i>
                                            </div>
                                            <ul>
                                                <li>Ion filter</li>
                                                <li>Stack Coolant Check</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-item">
                                            <div>
                                                <i class="ico-status ico-Stack">Fuel cell stack</i>
                                            </div>
                                            <ul>
                                                <li>Connection Part Play</li>
                                                <li>Oil Leakage</li>
                                                <li>Oil Level</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-btn-group">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>

                    <div class="text-area">
                        <p>We strongly recommend that you stop by nearest A/S workshop as soon as possible.</p>
                        <p>Please feel fee to contact us for any questions.</p>
                    </div>
                    <table class="table table-col datatable dataTable no-footer">
                        <colgroup>
                            <col style="width:20%">
                            <col style="width:30%">
                            <col style="width:20%">
                            <col style="width:30%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th tabindex="0">Name</th>
                                <th tabindex="0">Email</th>
                                <th tabindex="0">Phone no.</th>
                                <th tabindex="0">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Thor Odinson</th>
                                <td>godofthunder@email.com</td>
                                <td>+00 0000-0000</td>
                                <td>Brooklyn, New York</td>
                            </tr>
                            <tr>
                                <th>Thor Odinson</th>
                                <td>godofthunder@email.com</td>
                                <td>+00 0000-0000</td>
                                <td>Brooklyn, New York</td>
                            </tr>
                            <tr>
                                <th>Thor Odinson</th>
                                <td>godofthunder@email.com</td>
                                <td>+00 0000-0000</td>
                                <td>Brooklyn, New York</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer>
            <div class="logo"><button class="logo-link"><span class="blind">HYUNDAI MOTOR GROUP</span></button></div>
            <div class="f-link">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Hyundai Worldwide</a></li>
                    <!-- <li><a href="#">TBD</a></li> -->
                </ul>
                <p class="copyright">Copyright 2022 hyundai motor company. All right reserved.</p>
            </div>
        </footer>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>