<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>fleet</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="intro">
        <div class="login">
            <header>
                <div class="section">
                    <h1 class="logo"><button class="logo-link"><span class="blind">bluelink fleet</span></button></h1>
                    <p class="title">Fleet Account</p>
                </div>
            </header>
            <div class="content">
                <form>
                    <fieldset>
                        <div class="dropdown">
                            <button class="link dropdown-toggle" type="button" data-coreui-toggle="dropdown" aria-expanded="false">
                                Select Language
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Germany</a></li>
                                <li><a class="dropdown-item" href="#">Korean</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="inp-group mt10">
                            <label for="inp0" class="form-label">Email</label>
                            <input type="text" class="form-control okinput" id="inp0" placeholder="Enter email">
                            <span class="ok">성공</span>
                        </div>
                        <div class="inp-group mb20">
                            <label for="inp1" class="form-label">Password</label>
                            <input type="password" class="form-control pwinput" id="inp1" placeholder="Enter password">
                            <button type="button" class="btn-view on">비밀번호 보이기</button>
                        </div>
                    </fieldset>
                </form>
                <p><button type="button" class="btn-txt">Forgot password?</button></p>
                <div class="btn-wrap">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="logo"><button class="logo-link"><span class="blind">HYUNDAI MOTOR GROUP</span></button></div>
            <div class="f-link">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Hyundai Worldwide</a></li>
                    <li class="tbdLink"><a href="https://www.linkedin.com/company/hyundai-motor-company-electrified-commercial-vehicles" target="_blank">Linked in</a></li> 
                </ul>
                <p class="copyright">Copyright 2022 hyundai motor company. All right reserved.</p>
            </div>
        </footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>